<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.the.dao.ICartDao">
	<insert id="insert">
	insert into cart(p_id,name,brand,type,price,u_id) 
	values(#{p_id},#{name},#{brand},#{type},#{price},#{u_id})
	</insert>
	
 <!-- 장바구니 상품 조회  -->
	<select id="selectAll"  parameterType="String" resultType="com.the.dto.CartDto">
	    select * from cart where u_id=#{u_id}
	</select>
    
    <delete id="delete">
	delete cart where p_id=#{p_id}
	</delete>
	
	<delete id="buy">
	delete cart where p_id=#{p_id}
	</delete>


</mapper>

